<div id="container">

  <!-- PROFILE SECTION -->
  <section id="profile">
    <div class="content thank-you">
      <h1>Thank You</h1>
      <p>Your email was sent successfully!!!</p>
      <p>I will answer you as soon as possible.</p>
    </div>
  </section>
  <!-- PROFILE SECTION ENDS -->

  <!-- FOOTER SECTION -->

  <%= render :template => 'layouts/footer' -%>
  <!-- #footer -->
</div>