<div id="container">

  <!-- PROFILE SECTION -->
  <section id="profile">
    <div class="content thank-you">
      <h1>Thank You</h1>
      <p>Your email was sent successfully!!!</p>
      <p>I will answer you as soon as possible.</p>
    </div>
  </section>
  <!-- PROFILE SECTION ENDS -->

  <!-- FOOTER SECTION -->
  <div id="footer">
    <div class="inner-footer">
      <div class="one-half-first copyright white">All Rights Reserved to Webfolio 2013</div>
      <div class="one-half-last txt-right"><a class="sc-icons" href="#"><i class="icon-twitter green"></i></a><a class="sc-icons" href="#"><i class="icon-facebook green"></i></a><a class="sc-icons" href="#"><i class="icon-pinterest green"></i></a><a class="sc-icons" href="#"><i class="icon-linkedin green"></i></a><a class="sc-icons" href="#"><i class="icon-flickr green"></i></a></div>
    </div>
  </div>
  <!-- #footer -->
</div>