<div id="footer">
  <div class="inner-footer">
    <div class="one-half-first copyright black" style="color:black">All Rights Reserved to <%=@info.name%> 2014</div>
    <div class="one-half-last txt-right">
      <a class="sc-icons" href="<%=@info.twitter%>" target="_blank"><i class="icon-twitter black"></i></a>
      <a class="sc-icons" href="<%=@info.facebook%>" target="_blank"><i class="icon-facebook black"></i></a>
      <a class="sc-icons" href="<%=@info.linkedin%>" target="_blank"><i class="icon-linkedin black"></i></a>
  </div>
</div>